[submodule "hugo-phlat-theme"]
	path = hugo-phlat-theme
	url = https://github.com/nraboy/hugo-phlat-theme.git
[submodule "themes/hugo-phlat-theme"]
	path = themes/hugo-phlat-theme
	url = https://github.com/nraboy/hugo-phlat-theme.git
[submodule "themes/phlat"]
	path = themes/phlat
	url = https://github.com/nraboy/hugo-phlat-theme.git
